@use "variables" as *;

/*
* === Body ===
*/

html,
body {
  height: 100%;
}

body {
  background-color: $body-color;
}

/*
* === Header ===
*/

header {
  background-color: $header-color;
  min-height: 100px;
  a {
    &:hover {
      color: $link-color;
    }
  }
}

/*
* === Main ===
*/
main {
  min-height: 100%;
  height: auto;
}
h1,
h2,
h3,
h5,
h6 {
  margin: 15px 0px;
  font-weight: 400;
}

div.bold-text {
  font-weight: bold;
}

.departures-main-content {
  margin-bottom: 150px;
}

.departures-map {
  height: 600px;
  width: 100%;
  margin-top: 10px;
  & div {
    z-index: 0;
  }
}

/*
* === Footer ===
*/

footer {
  background-color: $footer-color;
  bottom: 0;
  min-height: 100px;
  position: fixed;
  width: 100%;
}
